/* Custom styles for base.html */
body {
    background-color: #f8f7fd !important; 
    font-family: 'Pathway Extreme', sans-serif !important;
}

.navbar {
    position: fixed;
    background-color: #6c5ce7; 
    color: #fff; 
}

.navbar-brand {
    font-weight: bold; 
}

.container {
    margin-top: 50px;
    margin-bottom: 100px;

}

.footer {
    height: 50px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #6c5ce7; 
    color: #fff; 
    padding: 10px;
    text-align: center;
}

/* Custom styles for all html pages */
.card {
    box-shadow: -2px 2px 5px #6c5ce7;
}

.quiz-container {
    margin-top: 20px;
    margin-bottom: 50px;
}

